#wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60%;
    background-color: #333;
}

#editor {
    padding: 0.25%;
    height: 99.5%;
    width: 99.5%;
    font-size: 17px;
    overflow: hidden;
}

#code {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    outline: none;
    resize: none;
    float: right;
    border: none;
    color:white;
    background-color: inherit;
    font-size: inherit;
    font-family: "consolab", monospace;
    tab-size: 2em;
}

#buttons {
    position: absolute;
    left: 0;
    top: 60%;
    width: 100%;
    height: 10%;
    background-color: #333;
}

#buttons button {
    position: relative;
    top: 25%;
    left: 5%;
    width: 10%;
    height: 50%;
}

#buttons #About {
    position: relative;
    top: 25%;
    left: 90%;
    width: 10%;
    height: 50%;
}

#output {
    position: absolute;
    left: 0;
    top: 70%;
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    font-family: "consolab", monospace;
    background-color: #222;
    border: 0.5px solid black;
    overflow: scroll;
}

#output span {
    white-space: pre-line;
}

#output .stdout {
    color: white;
}

#output .stderr {
    color: red;
}

@font-face{
    font-family: "consolab";
    src: url('font/consolab.ttf'),
    url('font/consolab.ttf'); /* IE */
}